@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;

    --rmbg-deep-blue: 210 66.7% 20%;
    --rmbg-light-gray: 0 0% 94.1%;
    --rmbg-teal: 180 100% 25.1%;

    --background: hsl(var(--rmbg-light-gray));
    --foreground: hsl(var(--rmbg-deep-blue));
    --primary: hsl(var(--rmbg-deep-blue));
    --primary-foreground: hsl(var(--rmbg-light-gray));
    --secondary: hsl(var(--rmbg-light-gray));
    --secondary-foreground: hsl(var(--rmbg-deep-blue));
    --accent: hsl(var(--rmbg-teal));
    --accent-foreground: hsl(var(--rmbg-light-gray));

    --card: hsl(var(--rmbg-light-gray));
    --card-foreground: hsl(var(--rmbg-deep-blue));

    --popover: hsl(var(--rmbg-light-gray));
    --popover-foreground: hsl(var(--rmbg-deep-blue));

    --muted: hsl(var(--rmbg-light-gray));
    --muted-foreground: hsl(var(--rmbg-deep-blue));

    --border: hsl(var(--rmbg-deep-blue));
    --input: hsl(var(--rmbg-light-gray));

    --ring: hsl(var(--rmbg-teal));

    --destructive: hsl(0, 63%, 31%);
    --destructive-foreground: hsl(0, 0%, 94%);

    --sidebar-background: hsl(var(--rmbg-light-gray));
    --sidebar-foreground: hsl(var(--rmbg-deep-blue));
    --sidebar-primary: hsl(var(--rmbg-deep-blue));
    --sidebar-primary-foreground: hsl(var(--rmbg-light-gray));
    --sidebar-accent: hsl(var(--rmbg-teal));
    --sidebar-accent-foreground: hsl(var(--rmbg-light-gray));
    --sidebar-border: hsl(var(--rmbg-deep-blue));
    --sidebar-ring: hsl(var(--rmbg-teal));
  }

  .dark {
    --rmbg-deep-blue: 210 66.7% 65.9%;
    --rmbg-light-gray: 0 0% 98%;
    --rmbg-teal: 180 52.9% 29.8%;

    --background: hsl(var(--rmbg-deep-blue));
    --foreground: hsl(var(--rmbg-light-gray));
    --primary: hsl(var(--rmbg-light-gray));
    --primary-foreground: hsl(var(--rmbg-deep-blue));
    --secondary: hsl(var(--rmbg-deep-blue));
    --secondary-foreground: hsl(var(--rmbg-light-gray));
    --accent: hsl(var(--rmbg-teal));
    --accent-foreground: hsl(var(--rmbg-deep-blue));

    --card: hsl(var(--rmbg-deep-blue));
    --card-foreground: hsl(var(--rmbg-light-gray));

    --popover: hsl(var(--rmbg-deep-blue));
    --popover-foreground: hsl(var(--rmbg-light-gray));

    --muted: hsl(var(--rmbg-deep-blue));
    --muted-foreground: hsl(var(--rmbg-light-gray));

    --border: hsl(var(--rmbg-light-gray));
    --input: hsl(var(--rmbg-deep-blue));

    --ring: hsl(var(--rmbg-teal));

    --destructive: hsl(0, 86%, 63%);
    --destructive-foreground: hsl(0, 0%, 10%);

    --sidebar-background: hsl(var(--rmbg-deep-blue));
    --sidebar-foreground: hsl(var(--rmbg-light-gray));
    --sidebar-primary: hsl(var(--rmbg-light-gray));
    --sidebar-primary-foreground: hsl(var(--rmbg-deep-blue));
    --sidebar-accent: hsl(var(--rmbg-teal));
    --sidebar-accent-foreground: hsl(var(--rmbg-light-gray));
    --sidebar-border: hsl(var(--rmbg-light-gray));
    --sidebar-ring: hsl(var(--rmbg-teal));
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Fixes a known bug with Tailwind and NextJS: https://github.com/tailwindlabs/tailwindcss/issues/4184*/
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
  }
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  scrollbar-width: none;
}
